---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import { getNotionPage, getPosts, type NotionPage } from '../../notion';
import plainwhiteConfig from '../../plainwhite.config';
import formatDate from '../../utils/formatDate';

export const getStaticPaths =( async () => {
    let cursor: string | null = null;
    const pages: NotionPage[] = [];
    do {
        const response = await getPosts({ currentPageCursor: cursor });
    
        cursor = response.nextPageCursor;
        pages.push(...response.pages);
    } while (cursor);

    return pages.map((p) => ({ params: { id: p.id } }));
}) satisfies GetStaticPaths;


const {
    plainwhite: { disqus_shortname },
} = plainwhiteConfig;

const { id } = Astro.params;

const data = await getNotionPage(id);

if (!data) {
    return Astro.redirect('/404');
}

const { html, pageProp } = data;
---

<Layout title={'test'} pageType="post">
    <div class="post-container">
        <a class="post-link" href={id}>
            <h2 class="post-title">{pageProp.title}</h2>
        </a>
        <div class="post-meta">
            <div class="post-date">
                <i class="icon-calendar"></i>{
                    formatDate(pageProp.date.split(' ')[0])
                }
            </div>
            {
                pageProp.categories.length && (
                    <ul class="post-categories">
                        {pageProp.categories.map((c) => (
                            <li>{c}</li>
                        ))}
                    </ul>
                )
            }
        </div>
        <div class="post" set:html={html} />
        {disqus_shortname &&
            <>
                <div id="disqus_thread" style="margin-top:25px"></div>
                <script is:inline define:vars={{ disqus_shortname }}>
                    // eslint-disable-next-line @typescript-eslint/no-unused-vars
                    const disqus_config = function () {
                        this.page.url = '{{ page.url | absolute_url }}';
                        this.page.identifier = '{{ page.url | absolute_url }}';
                    };
                    (function () {
                        const d = document,
                            s = d.createElement('script');
                        s.src = `https://${disqus_shortname}.disqus.com/embed.js`;
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript
                    >Please enable JavaScript to view the <a
                        href="https://disqus.com/?ref_noscript"
                        rel="nofollow">comments powered by Disqus.</a
                    >
                </noscript>
            </>         
        }
        Page generated at9/28/2024, 2:32:55 PM
    </div>
</Layout>
