---
// This import needs to stay on top to prevent css clashes
import Search from '../components/Search/Search.astro';
import { getAllNotionPages } from '../notion';
import Layout from '../layouts/Layout.astro';
import plainwhiteConfig from '../plainwhite.config';
import formatDate from '../utils/formatDate';

const pages = await getAllNotionPages();

const { show_excerpts } = plainwhiteConfig;
---

<Layout title="Home" pageType="home">
    <div class="posts">
        <p>
            Hi, my name is Francesco Maida, And I am a full stack software
            engineer, please find <a
                href={import.meta.env.RESUME_URL}
                target="_blank">my resume</a
            >
        </p>
    </div>
    <ul class="posts">
        <li class="posts-labelgroup" id="posts-labelgroup">
            <h1 id="posts-label">posts</h1>
            <Search searchItems={pages} />
        </li>
        {
            pages.map((p) => (
                <li>
                    <a class="post-link" href={`posts/${p.id}`}>
                        <h2 class="post-title">{p.title}</h2>
                    </a>
                    <div class="post-meta">
                        <div class="post-date">
                            <i class="icon-calendar" />
                            {`${formatDate(p.date.split(' ')[0])}`}
                        </div>
                        {p.categories.length > 0 && (
                            <ul class="post-categories">
                                {p.categories.map((c) => (
                                    <li>{c}</li>
                                ))}
                            </ul>
                        )}
                    </div>
                    <div class="post">
                        {show_excerpts && <p set:html={p.excerpt} />}
                    </div>
                </li>
            ))
        }
        <span>
            Page generated at {new Date().toLocaleString()}
        </span>
    </ul>
</Layout>
